{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <h4>Success</h4>
                <p>Your Food Choices have been successfully submitted, {{ name }}</p>
                <p>Please make a note of the ID for future reference</p>
                <p><b>{{ file_id }}</b></p>
                <p>To retrieve your submission enter the ID code in the above search box</p>
                <p>You can now close this window</p>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/submitted.js') }}"></script>
{% endblock %}